body {
  // margin: 0;
  // margin-top: 5rem;
  background-color: #3b3333;
}

//configure webpack for images, set buttons to images of each hero and background to space

//style info section

// $imgpath: /images;

.app-wrapper {
  // display: flex;
  // justify-content: center;
  // flex-direction: column;
  font-size: 16px;
  // background: url(./images/space.jpg) no-repeat left bottom;


  .header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    // max-width: 50%;
    // align-self: center;
    align-content: center;
    // font-family: Arial, Helvetica, sans-serif;

    h1 {
      margin: 2%;
      font-size: 3.5rem;
      font-family: 'Titillium Web', sans-serif;
      color: #a62121;
    }

    .button-container {
      button {
        // color: red;
        border-radius: 15px;
        height: 35px;
        font-family: 'Titillium Web', sans-serif;
        font-size: 15px;
        border: 1px solid grey; 
        // background-color: blue;
        margin: 1%;
        margin-bottom: 4%;
      }
    }
  }

  .view {
    display: flex;
    justify-content: center;
    flex-direction: row;

    .poster-wrapper {
      width: 30%;
      margin: 0rem 1rem;
      display: flex;
      justify-content: center;
      align-content: center;
    }

    .info-wrapper {
      font-family: 'Roboto Condensed', sans-serif;
      width: 70%;
      background-color: white;
      border: 3px solid black;
      border-radius: 10px;
      opacity: .5;
      padding: 5px;
      padding-left: 10px;
      .info-header {
        width: 85%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // align-content: center;
      }
      // border: 3px solid grey;
      // background-color: grey;
      // backface-visibility: 50%;
    }

  }

}